/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
}

/* Sección de Proyectos */
#proyectos .card {
    margin-bottom: 20px;
}

#proyectos img {
    max-height: 200px;
    object-fit: cover;
}

/* Sección de Registro */
#registro form {
    background-color: #f9f9f9;
}

#registro input, #registro button {
    margin-bottom: 10px;
}

/* Pie de página */
footer {
    background-color: #343a40;
    color: white;
}

footer .btn-outline-light {
    border-color: #fff;
    color: white;
}
